@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd; }
  #header_sub .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative; }
    #header_sub .inner > h1 {
      position: absolute;
      left: 0px;
      bottom: 15px; }
      #header_sub .inner > h1 a {
        font: bold 24px/1 "arial";
        color: #444; }
    #header_sub .inner .menuWeb #gnb {
      position: absolute;
      bottom: 0px;
      right: 0px; }
      #header_sub .inner .menuWeb #gnb::after {
        content: "";
        display: block;
        clear: both; }
      #header_sub .inner .menuWeb #gnb li {
        float: left; }
        #header_sub .inner .menuWeb #gnb li a {
          display: block;
          padding: 20px 40px;
          font: bold 15px/1 "arial";
          color: #555;
          transition: all 0.5s; }
        #header_sub .inner .menuWeb #gnb li:hover a {
          background: #555;
          color: #fff; }
    #header_sub .inner .menuWeb .util {
      position: absolute;
      top: 20px;
      right: 0px; }
      #header_sub .inner .menuWeb .util::after {
        content: "";
        display: block;
        clear: both; }
      #header_sub .inner .menuWeb .util li {
        float: left; }
        #header_sub .inner .menuWeb .util li a {
          display: block;
          font: 12px/1 "arial";
          color: #999;
          padding: 0px 10px;
          border-right: 1px solid #aaa; }
        #header_sub .inner .menuWeb .util li:last-child a {
          border-right: none; }
    #header_sub .inner .btnCall {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      width: 20px;
      height: 20px; }
    #header_sub .inner .menuMo {
      position: fixed;
      top: 0px;
      left: -270px;
      width: 270px;
      height: 100vh;
      background: #333;
      transition: 0.5s;
      padding: 35px 30px;
      box-sizing: border-box; }
      #header_sub .inner .menuMo h1 {
        border-bottom: 1px solid #666;
        padding-bottom: 30px; }
        #header_sub .inner .menuMo h1 a {
          display: block;
          font: bold 24px/1 "arial";
          color: #fff;
          text-align: center; }
        #header_sub .inner .menuMo h1 span {
          font-size: 12px;
          color: #aaa; }
      #header_sub .inner .menuMo #gnbMo li a {
        display: block;
        width: 100%;
        padding: 20px 0px;
        border-bottom: 1px solid #444;
        font: bold 14px/1 "arial";
        color: #888;
        text-align: center; }
      #header_sub .inner .menuMo.on {
        left: 0px; }

.content {
  width: 100%;
  padding: 0px 0px 150px; }
  .content .sub_visual {
    width: 100%;
    height: 250px;
    background: #bbb;
    margin-bottom: 100px; }
  .content .inner {
    width: 1180px;
    margin: 0px auto;
    min-height: 500px; }
    .content .inner h1 {
      font: normal 50px/1 "arial";
      color: #000;
      margin-bottom: 60px; }
      .content .inner h1 span {
        font: normal 20px/1 "맑은 고딕";
        color: #aaa; }
        .content .inner h1 span::before {
          content: "/";
          margin-right: 20px;
          margin-left: 10px; }

#footer_sub {
  width: 100%;
  padding: 100px 0px;
  background: #444; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0px auto; }
    #footer_sub .inner::after {
      content: "";
      display: block;
      clear: both; }
    #footer_sub .inner h1 {
      font: bold 24px/1 "arial";
      color: #666;
      float: left; }
    #footer_sub .inner ul {
      float: right; }
      #footer_sub .inner ul li {
        float: left;
        margin-left: 20px; }
        #footer_sub .inner ul li a {
          font: bold 14px/1 "arial";
          color: #666; }
    #footer_sub .inner address {
      width: 100%;
      float: left;
      font: 14px/1.3 "arial";
      color: #777;
      margin-bottom: 20px;
      margin-top: 20px; }
    #footer_sub .inner p {
      width: 100%;
      float: left;
      font: 12px/1 "arial";
      color: #777; }

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100%; }
    #header_sub .inner > h1 {
      left: 20px; }
    #header_sub .inner .menuWeb {
      display: none; }
    #header_sub .inner .btnCall {
      display: none; }

  .content {
    padding: 0px 0px 100px; }
    .content .sub_visual {
      height: 200px; }
    .content .inner {
      width: 100%;
      padding: 0px 30px;
      box-sizing: border-box; }

  #footer_sub {
    padding: 80px 30px;
    box-sizing: border-box; }
    #footer_sub .inner {
      width: 100%; } }
@media screen and (max-width: 539px) {
  .content {
    padding: 0px 0px 80px; }
    .content .sub_visual {
      height: 150px; }
    .content .inner h1 span {
      display: block;
      margin-top: 10px; }

  #footer_sub .inner h1 {
    margin-bottom: 20px; }
  #footer_sub .inner ul {
    width: 100%; }
    #footer_sub .inner ul li {
      margin-left: 0px;
      margin: 5px; } }
.community .sub_visual {
  background: lightcyan; }
.community .inner table {
  width: 100%;
  border-bottom: 20px solid #111;
  margin-bottom: 50px;
  border-collapse: collapse; }
  .community .inner table tr:nth-of-type(even) {
    background: #eee; }
  .community .inner table tr:hover {
    background: lightgoldenrodyellow; }
  .community .inner table tr th {
    padding: 15px;
    background: #444;
    color: #fff; }
    .community .inner table tr th:nth-of-type(1) {
      width: 10%; }
    .community .inner table tr th:nth-of-type(3) {
      width: 15%; }
    .community .inner table tr th:nth-of-type(4) {
      width: 15%; }
  .community .inner table tr td {
    padding: 13px;
    border-bottom: 1px solid #ddd;
    text-align: center; }
    .community .inner table tr td:nth-of-type(2) {
      text-align: left; }
    .community .inner table tr td a {
      float: left; }
.community .inner .pagination {
  width: 100%;
  text-align: center; }
  .community .inner .pagination::after {
    content: "";
    display: block;
    clear: both; }
  .community .inner .pagination .prev {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #555;
    text-align: center; }
  .community .inner .pagination .next {
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #555;
    text-align: center; }
  .community .inner .pagination .numbers {
    display: inline;
    text-align: center;
    font-size: 0px; }
    .community .inner .pagination .numbers a {
      display: inline-block;
      width: 30px;
      height: 30px;
      font: 11px/30px "arial";
      color: #666;
      text-align: center;
      margin: 0px 5px;
      transition: 0.5s; }
      .community .inner .pagination .numbers a:hover {
        background: #666;
        color: #fff; }

/*
@mixin title() {
    font: bold 24px/1 "arial";
    color: #555;
    text-align: center;
    margin-bottom: 50px;
}
*/
#header {
  width: 100%;
  border-bottom: 1px solid #ddd; }
  #header .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      left: 0px;
      bottom: 15px; }
      #header .inner > h1 a {
        font: bold 24px/1 "arial";
        color: #444; }
    #header .inner .menuWeb #gnb {
      position: absolute;
      bottom: 0px;
      right: 0px; }
      #header .inner .menuWeb #gnb::after {
        content: "";
        display: block;
        clear: both; }
      #header .inner .menuWeb #gnb li {
        float: left; }
        #header .inner .menuWeb #gnb li a {
          display: block;
          padding: 20px 40px;
          font: bold 15px/1 "arial";
          color: #555;
          transition: all 0.5s; }
        #header .inner .menuWeb #gnb li:hover a {
          background: #555;
          color: #fff; }
    #header .inner .menuWeb .util {
      position: absolute;
      top: 20px;
      right: 0px; }
      #header .inner .menuWeb .util::after {
        content: "";
        display: block;
        clear: both; }
      #header .inner .menuWeb .util li {
        float: left; }
        #header .inner .menuWeb .util li a {
          display: block;
          font: 12px/1 "arial";
          color: #999;
          padding: 0px 10px;
          border-right: 1px solid #aaa; }
        #header .inner .menuWeb .util li:last-child a {
          border-right: none; }
    #header .inner .btnCall {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      width: 20px;
      height: 20px; }
    #header .inner .menuMo {
      position: fixed;
      top: 0px;
      left: -270px;
      width: 270px;
      height: 100vh;
      background: #333;
      transition: 0.5s;
      padding: 35px 30px;
      box-sizing: border-box; }
      #header .inner .menuMo h1 {
        border-bottom: 1px solid #666;
        padding-bottom: 30px; }
        #header .inner .menuMo h1 a {
          display: block;
          font: bold 24px/1 "arial";
          color: #fff;
          text-align: center; }
        #header .inner .menuMo h1 span {
          font-size: 12px;
          color: #aaa; }
      #header .inner .menuMo #gnbMo li a {
        display: block;
        width: 100%;
        padding: 20px 0px;
        border-bottom: 1px solid #444;
        font: bold 14px/1 "arial";
        color: #888;
        text-align: center; }
      #header .inner .menuMo.on {
        left: 0px; }

#visual {
  width: 100%;
  height: calc(100vh - 121px);
  background: #aaa;
  position: relative;
  overflow: hidden; }

#news {
  width: 100%;
  padding: 200px 0px; }
  #news .inner {
    width: 1180px;
    margin: 0px auto; }
    #news .inner h1 {
      font: bold 24px/1 "arial";
      color: #555;
      text-align: center;
      margin-bottom: 50px; }
    #news .inner .wrap {
      width: 100%; }
      #news .inner .wrap::after {
        content: "";
        display: block;
        clear: both; }
      #news .inner .wrap article {
        width: 280px;
        float: left;
        margin-right: 20px; }
        #news .inner .wrap article:last-child {
          margin-right: 0px; }
        #news .inner .wrap article .pic {
          width: 100%;
          height: 120px;
          background: #aaa; }
        #news .inner .wrap article h2 {
          margin-bottom: 10px; }
          #news .inner .wrap article h2 a {
            font: bold 16px/1 "arial";
            color: #555; }
        #news .inner .wrap article p {
          font: 14px/1.4 "arial";
          color: #777; }

#brand {
  width: 100%;
  padding: 200px 0px;
  background: #eee; }
  #brand .inner {
    width: 1180px;
    margin: 0px auto; }
    #brand .inner h1 {
      font: bold 24px/1 "arial";
      color: #555;
      text-align: center;
      margin-bottom: 50px; }
    #brand .inner .wrap {
      width: 100%; }
      #brand .inner .wrap::after {
        content: "";
        display: block;
        clear: both; }
      #brand .inner .wrap article:nth-of-type(1) {
        width: 380px;
        height: 620px;
        background: #444;
        float: left;
        margin-right: 20px;
        text-align: center;
        padding: 170px 50px 0px;
        box-sizing: border-box; }
      #brand .inner .wrap article:nth-of-type(2) {
        width: 380px;
        height: 300px;
        background: #444;
        float: left;
        margin-right: 20px; }
      #brand .inner .wrap article:nth-of-type(3) {
        width: 380px;
        height: 300px;
        background: #444;
        float: left; }
      #brand .inner .wrap article:nth-of-type(4) {
        width: 780px;
        height: 300px;
        background: #444;
        float: left;
        margin-top: 20px; }

#banner {
  width: 100%;
  padding: 150px 0px;
  background: #aaa; }
  #banner .inner {
    width: 1180px;
    margin: 0px auto; }

#comments {
  width: 100%;
  padding: 150px 0px;
  background: #ddd; }
  #comments .inner {
    width: 1180px;
    margin: 0px auto; }
    #comments .inner h1 {
      font: bold 20px/1 "arial";
      color: #555;
      text-align: center;
      margin-bottom: 30px; }
    #comments .inner ul {
      width: 100%; }
      #comments .inner ul li {
        width: 100%;
        border: 1px solid #111;
        margin-bottom: 20px;
        padding: 15px 20px;
        box-sizing: border-box;
        transition: 0.5s; }
        #comments .inner ul li::after {
          content: "";
          display: block;
          clear: both; }
        #comments .inner ul li a {
          font: 12px/1 "arial";
          color: #555;
          float: left;
          transition: 0.5s; }
        #comments .inner ul li span {
          font: 12px/1 "arial";
          color: #888;
          float: right;
          transition: 0.5s; }
        #comments .inner ul li:hover {
          background: #444; }
          #comments .inner ul li:hover a {
            color: #fff; }
          #comments .inner ul li:hover span {
            color: #ddd; }

#footer {
  width: 100%;
  padding: 100px 0px;
  background: #444; }
  #footer .inner {
    width: 1180px;
    margin: 0px auto; }
    #footer .inner::after {
      content: "";
      display: block;
      clear: both; }
    #footer .inner h1 {
      font: bold 24px/1 "arial";
      color: #666;
      float: left; }
    #footer .inner ul {
      float: right; }
      #footer .inner ul li {
        float: left;
        margin-left: 20px; }
        #footer .inner ul li a {
          font: bold 14px/1 "arial";
          color: #666; }
    #footer .inner address {
      width: 100%;
      float: left;
      font: 14px/1.3 "arial";
      color: #777;
      margin-bottom: 20px;
      margin-top: 20px; }
    #footer .inner p {
      width: 100%;
      float: left;
      font: 12px/1 "arial";
      color: #777; }

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 100%; }
    #header .inner > h1 {
      left: 20px; }
    #header .inner .menuWeb {
      display: none; }
    #header .inner .btnCall {
      display: none; }

  #visual {
    height: calc(100vh - 101px); }
    #visual .inner {
      width: 100%;
      padding: 0px 30px;
      box-sizing: border-box; }

  #news {
    padding: 100px 30px;
    box-sizing: border-box; }
    #news .inner {
      width: 100%; }
      #news .inner .wrap article {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 60px; }
        #news .inner .wrap article:nth-child(2n) {
          margin-right: 0px; }
        #news .inner .wrap article .pic {
          height: 20vmax; }

  #brand {
    padding: 100px 30px;
    box-sizing: border-box; }
    #brand .inner {
      width: 100%; }
      #brand .inner .wrap article:nth-of-type(1) {
        width: 49%;
        margin-right: 2%; }
      #brand .inner .wrap article:nth-of-type(2) {
        width: 49%;
        margin-right: 0%;
        margin-bottom: 20px; }
      #brand .inner .wrap article:nth-of-type(3) {
        width: 49%; }
      #brand .inner .wrap article:nth-of-type(4) {
        width: 100%; }

  #banner {
    padding: 150px 30px;
    box-sizing: border-box; }
    #banner .inner {
      width: 100%; }

  #comments {
    padding: 80px 30px;
    box-sizing: border-box; }
    #comments .inner {
      width: 100%; }

  #footer {
    padding: 80px 30px;
    box-sizing: border-box; }
    #footer .inner {
      width: 100%; } }
@media screen and (max-width: 539px) {
  #visual {
    height: 400px; }
    #visual .inner h1 {
      font: normal 12vmin/1 "arial"; }

  #news .inner .wrap article {
    width: 100%;
    margin-right: 0%; }
    #news .inner .wrap article .pic {
      height: 30vmax; }

  #brand .inner .wrap article:nth-of-type(1) {
    width: 100%;
    height: 400px;
    padding: 50px;
    margin-right: 0%;
    margin-bottom: 20px; }
  #brand .inner .wrap article:nth-of-type(2) {
    width: 100%; }
  #brand .inner .wrap article:nth-of-type(3) {
    width: 100%; }
  #brand .inner .wrap article:nth-of-type(4) {
    width: 100%; }

  #banner {
    padding: 120px 30px; }

  #comments .inner ul li a {
    margin-bottom: 10px; }

  #footer .inner h1 {
    margin-bottom: 20px; }
  #footer .inner ul {
    width: 100%; }
    #footer .inner ul li {
      margin-left: 0px;
      margin: 5px; } }

/*# sourceMappingURL=style.css.map */
