@charset "utf-8"; 
@import "reset.scss";

#header {
    width: 100%;
    border-bottom: 1px solid #ddd;

    .inner {
        width: 1180px;
        height: 120px;
        margin: 0px auto;
        position: relative;

        >h1 {
            position: absolute;
            left: 0px;
            bottom: 15px;

            a {
                font: bold 24px/1 "arial";
                color: #444;
            }
        }

        .menuWeb {
            #gnb {
                position: absolute;
                bottom: 0px;
                right: 0px;

                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }

                li {
                    float: left;

                    a {
                        display: block;
                        padding: 20px 40px;
                        font: bold 15px/1 "arial";
                        color: #555;
                        transition: all 0.5s;
                    }

                    &:hover a {
                        background: #555;
                        color: #fff;
                    }
                }
            }

            .util {
                position: absolute;
                top: 20px;
                right: 0px;

                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }

                li {
                    float: left;

                    a {
                        display: block;
                        font: 12px/1 "arial";
                        color: #999;
                        padding: 0px 10px;
                        border-right: 1px solid #aaa;
                    }

                    &:last-child a {
                        border-right: none;
                    }
                }
            }
        }

        .btnCall {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            color: #555;
            font-size: 30px;
            display: none;
        }

        .menuMo {
            position: fixed;
            top: 0px;
            left: -270px;
            width: 270px;
            height: 100vh;
            background: #333;
            transition: 0.5s;
            padding: 35px 30px;
            box-sizing: border-box;

            h1 {
                border-bottom: 1px solid #666;
                padding-bottom: 30px;

                a {
                    display: block;
                    font: bold 24px/1 "arial";
                    color: #fff;
                    text-align: center;
                }
                span {
                    font-size: 12px;
                    color: #aaa;
                }
            }

            #gnbMo {
                li {
                    a {
                        display: block;
                        width: 100%;
                        padding: 20px 0px;
                        border-bottom: 1px solid #444;
                        font: bold 14px/1 "arial";
                        color: #888;
                        text-align: center;
                    }
                }
            }

            &.on {
                left: 0px;
            }
        }
    }
}

//--------------VISUAL------------------------

#visual {
    width: 100%;
    height: calc(100vh - 121px);
    background: #aaa;
    position: relative;
    overflow: hidden;
}